* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

html{
    scroll-behavior:smooth;
}

.logo {
    height: inherit;
    width: 70px;
    margin-left: 40px;
}

.logo img {
    height: auto;
    width: 127%;
    margin-top: -8px;
}

.stecy{
    position: fixed;
    top: 40%;
    right: 3px;
    width: 40px;
    border-radius: 20px 0 0 20px;
    background-color: #333333;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.home-hov-s{
    width: 100%;
    height: 100%;
    
}

.dot-stc {
    background-color: rgb(255, 0, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    margin: 0 auto;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #000;
    z-index: 500;
}

.menu{
    display: block;
    position: absolute;
    top: 10px;
    right: 40px;
    color: white;
    font-size: 30px;
}
nav ul{
    display: none;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-right: 50px;
}

ul li {
    list-style: none;
    color: black;
}

ul a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    transition: transform 4s;
}

/* ul a:hover {
    border-bottom: solid 3px aqua;
    color: #00edf9;
} */

.home-hov:hover {
    border-bottom: solid 3px aqua;
    color: #00edf9;
}

.about-hov:hover {
    border-bottom: solid 3px #b242f9;
    color: #b242f9;
}

.services-hov:hover {
    border-bottom: solid 3px #e91e63;
    color: #e91e63;
}

.contact-hov:hover {
    border-bottom: solid 3px #42f979;
    color: #42f979;
}

.home {
    width: 100%;
    height: auto;
    background-image: url("./images/20190208_145845\ \(2\).jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.carde {
    width: 100%;
    height: auto;
    padding-top: 2px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: white;
    z-index: 12;
}



.image {
    width: 80%;
    height: 100%;
}

.image img {

    width: 100%;
    height: auto;
    z-index: 5;
}

.content {
    width: 80%;
    margin: auto;
    height: 100%;
}

.content > p {
    margin: 20px 0;
    font-size: 12px;
}

.content > h1 {
    margin: 20px 0;
}

.label {
    margin-bottom: 1px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.label p {
    margin-left: 10px;
}


/*    about     */

.about {
    width: 100%;
    height: auto;
    padding-top: 50px;
    background-color: #000;
}

.abuot-title {
    width: 100;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.abuot-title p {
    background-color: #b242f9;
    padding: 0 10px 0 10px;
    border-radius: 50px 50px 0 0;
    width: fit-content;
    font-size: 50px;
}



.about-border {
    border-top: #b242f9 1px solid;
    border-right: #b242f9 3px solid;
    border-bottom: #b242f9 1px solid;
    border-radius: 0 50px 50px 0;

}

.sup-title {
    margin-bottom: 10px;
    padding-top: 20px;
    width: 100;
    display: flex;
    justify-content: center;
}

.sup-title h1 {
    width: fit-content;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(14, 233, 233), rgb(242, 0, 255));
    transition: width 3s linear;
}


.about h2 {
    margin-left: 50px;
    padding-bottom: 5px;
    color: #eee;
    border-bottom: rgb(242, 0, 255) 3px dashed;
    width: fit-content;
}

.skills {
    width: 70%;
    margin: auto;
    margin-top: 20px;
    color: #eee;
}

.sub-skil {
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
}

progress {
    width: 100%;
    background-color: aqua;
    color: aqua;


}

.maxx-prog {
    margin-top: 10px;
    width: 100%;
    height: 10px;
    border-radius: 50px;
    border: rgb(14, 233, 233);
    border: rgb(142 102 245) 1px solid;
    padding: 2px;
}

.max-prog {
    border-radius: 50px;
    background-color: #000;
    width: 100%;
    height: 100%;
}

.val-prog {
    width: 70%;
    height: 100%;
    background-color: rgb(14, 233, 233);
    background: linear-gradient(to right, rgb(14, 233, 233), rgb(242, 0, 255));
    border-radius: 50px;
}


.v-1 {
    width: 10%;
}

.v-2 {
    width: 20%;
}

.v-3 {
    width: 30%;
}

.v-4 {
    width: 40%;
}

.v-5 {
    width: 50%;
}

.v-6 {
    width: 60%;
}

.v-7 {
    width: 70%;
}

.v-8 {
    width: 80%;
}

.v-9 {
    width: 90%;
}

.v-10 {
    width: 100%;
}


.sub-skil-person {
    display: flex;
    flex-direction: column;
}

.rit {
    /* width: 50%; */
    width: 100%;
}

.lef {
    /* width: 50%; */
    width: 100%;
    margin: auto;
}

.skills-person {
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    color: #eee;

}

.max-dot {
    margin-right: 10px;
    width: 7px;
    height: 10px;
    border-radius: 50px;
    border: rgb(14, 233, 233);
    border: rgb(142 102 245) 1px solid;
    padding: 2px;
}

.col-dot {
    height: 100%;
    background-color: rgb(14, 233, 233);
    background: linear-gradient(to right, rgb(14, 233, 233), rgb(242, 0, 255));
    border-radius: 50px;
}

.up-prog {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.date {
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    color: #eee;
}

.date h3 {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: end;
}

.event {
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    color: #eee;
}

.event h3 {
    width: 100%;
    padding: 0;
    margin: 0;
}




.val-up-lin {
    margin: 0 20px;
    width: 5px;
    height: 400px;
    background-color: rgb(186 78 255 / 42%);
    ;
    /* background: linear-gradient(to right, rgb(14, 233, 233), rgb(242, 0, 255)); */
    border-radius: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.dot {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 5px rgb(186 78 255 / 42%);
    height: 5px;
    width: 5px;
    border-radius: 50px;
    margin: 15px 0;
}

.services {
    width: 100%;
    height: auto;
    padding-top: 50px;
    background-color: #000;
}

.services-title {
    width: 100;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.services-title p {
    background-color: #e91e63;
    padding: 0 10px 0 10px;
    border-radius: 50px 50px 0 0;
    width: fit-content;
    font-size: 50px;
}



.services-border {
    border-top: #e91e63 1px solid;
    border-right: #e91e63 3px solid;
    border-bottom: #e91e63 1px solid;
    border-radius: 0 50px 50px 0;


}

.s-row{
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.s-col{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    color: #eee;
    text-align: center;
}

.s-col h4{
    margin: 0 30px;
}

.s-col img{
    width: 80%;
    height: auto;
    border: #e91e63 3px solid;
    border-radius: 5px;
}


.contact {
    width: 100%;
    height: auto;
    padding-top: 50px;
    background-color: #000;
}

.contact-title {
    width: 100;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.contact-title p {
    background-color: #42f979;
    padding: 0 10px 0 10px;
    border-radius: 50px 50px 0 0;
    width: fit-content;
    font-size: 50px;
}



.contact-border {
    border-top: #42f979 1px solid;
    border-right: #42f979 3px solid;
    border-bottom: #42f979 1px solid;
    border-radius: 0 50px 50px 0;


}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    flex-wrap: nowrap;

}



.rit-c {
    width: 80%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.lef-c {
    margin: 15px auto;
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.rit-c input {
    margin: 15px auto;
    border: #eee 1px solid;
    padding: 7px;
    width: 100%;
}

.contact textarea {
    margin: 0 auto;
    border: #eee 1px solid;
    padding: 7px;
    width: 100%;
    height: 130px;
    resize: none;
}


/* .contact h1 {
    text-align: center;
    margin: 50px;
} */
.btn-f {
    width: 80%;
    display: flex;
    justify-content: end;
    margin: 20px auto;
}

.btn {
    width: 100%;
    height: 30px;
    background-color: rgb(186 78 255 / 42%);
    background: linear-gradient(to right, #c8fdd8, #42f979);
    border: black 1px solid;
    border-radius: 5px;
    margin: 0 auto;

}

.btn:hover{
    animation-name: btn;
    animation-duration: 4s;
}

@keyframes btn {
    0%   {background-color: linear-gradient(to right, #fde2c8, #42f979);}
    25%  {background-color: linear-gradient(to right, #c8fdd8, #42f979);}
    50%  {background-color: linear-gradient(to right, #c8fdd8, #ea42f9);}
    100% {background-color: linear-gradient(to right, #ff0059, #42f979);}
}

.social {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.social ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
}

.facebook-hov:hover {
    color: rgb(35, 35, 248);
    transform: rotate(15deg);
    font-size: 20px;
}

.github-hov:hover {
    color: #b242f9;
    transform: rotate(15deg);
    font-size: 20px;
}

.linkedin-hov:hover {
    color: #3F51B5;
    transform: rotate(15deg);
    font-size: 20px;
}

.twitter-hov:hover {
    color: #00BCD4;
    transform: rotate(15deg);
    font-size: 20px;
}



footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px 0 20px 0;
}

footer img{
    height: 50px;
    width:  50px;
}

@media only screen and (min-width:500px) {
    .s-row{
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 29px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .s-col{
        margin-top: 30px;
        width: 100%;
        height: 100%;
        color: #eee;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .s-col img{
        width: 60%;
    }

    .s-col h4{
        width: 40%;
    }

}

@media only screen and (min-width:800px) {
    .sub-skil-person {
        display: flex;
        flex-direction: row;
    }
    
    .rit {
        width: 50%;
    }
    
    .lef {
        width: 50%;
    }

    .carde {
        flex-direction: row;

    }
    .image {
        width: 40%;
        height: 100%;
    }
    
    nav ul{
        display: flex;
    }
    
    .content {
        width: 40%;
        margin: auto;
        height: 100%;
    }
    .menu{
        display: none;
    }
    .contact-form {
        flex-direction: row;
        
        flex-wrap: wrap;
    
    }

    .rit-c {
        width: 40%;
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .lef-c {
        margin: 15px auto;
        width: 40%;
        display: flex;
        justify-content: flex-end;
    }
    
    .rit-c input {
        margin: 15px auto;
        border: #eee 1px solid;
        padding: 7px;
        width: 100%;
    }
    
    .contact textarea {
        margin: 15px auto;
        border: #eee 1px solid;
        padding: 7px;
        width: 100%;
        height: 150px;
        resize: none;
    }
    
    
    /* .contact h1 {
        text-align: center;
        margin: 50px;
    } */
    .btn-f {
        width: 90%;
        display: flex;
        justify-content: flex-end;
        margin: 5px auto 20px auto;
    }
    
    .btn {
        width: 25%;
        height: 30px;
        background-color: rgb(186 78 255 / 42%);
        background: linear-gradient(to right, #c8fdd8, #42f979);
        border: black 1px solid;
        border-radius: 5px;
        margin: 0 0 0 0;

    }

    

    .s-row{
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 29px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .s-col{
        margin-top: 30px;
        width: 33.333%;
        height: 100%;
        color: #eee;
        text-align: center;
        display: block;
    }

    .s-col img{
        width: 80%;
    }

    .s-col h4{
        width: auto;
    }
    

}

